*,*:before,*::after{ 
    padding: 0; 
    margin: 0; 
    box-sizing: inherit; 
    /* border: 1px solid red; */
  }

*{
  font-family: Arial, Helvetica, sans-serif
}

body {
  padding-top: 48px;
}

.err{
  border: 2px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(218, 160, 160);
  border-radius: 2px;
}

.textInImg{
  position: static;
  /* margin-bottom: -13%; */
}

@media(min-width: 0px){
  .textInImg {font-size:40px}
  .textInImg{transform: translateY(-200%)}
  .textInImg{margin-bottom: -13%;}
}
@media(min-width: 700px){
  .textInImg {font-size:40px}
  .textInImg{transform: translateY(-300%)}
  .textInImg{margin-bottom: -9%;}

}
@media(min-width: 1100px){
  .textInImg {font-size:60px}
  .textInImg{transform: translateY(-325%)}
  .textInImg{margin-bottom: -8%;}

}
@media(min-width: 1300px){
  .textInImg {font-size:85px}
  .textInImg{transform: translateY(-350%)}
  .textInImg{margin-bottom: -9%;}

}
@media(min-width: 1700px){
  .textInImg {font-size:110px}
  .textInImg{transform: translateY(-350%)}
  .textInImg{margin-bottom: -9%;}
}

